src/resources/wsdl/ConsultaNfseXSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="ConsultarNfse"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="consultaxml" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarNfseResponse"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="ConsultarNfseResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarNfseComplementar"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="consultaxml" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarNfseComplementarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="ConsultarNfseComplementarResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>